
.hs-an-icon-error:before { content: '\e800'; } /* '' */
.hs-an-icon-error-alt:before { content: '\e801'; } /* '' */
.hs-an-icon-attention-circled:before { content: '\e802'; } /* '' */
.hs-an-icon-attention:before { content: '\e803'; } /* '' */
.hs-an-icon-info-circled:before { content: '\e804'; } /* '' */
.hs-an-icon-bell:before { content: '\e805'; } /* '' */
.hs-an-icon-ok:before { content: '\e806'; } /* '' */
.hs-an-icon-ok-circled:before { content: '\e807'; } /* '' */
.hs-an-icon-ok-circled2:before { content: '\e808'; } /* '' */
.hs-an-icon-bell-alt:before { content: '\f0f3'; } /* '' */
.hs-an-icon-info:before { content: '\f129'; } /* '' */
.hs-an-icon-attention-alt:before { content: '\f12a'; } /* '' */